<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyo5FjfX-isst5QCVWzNw7VyiHBA5rXY8</string>
	<key>GCM_SENDER_ID</key>
	<string>628344415136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a1flothers.com.Medical</string>
	<key>PROJECT_ID</key>
	<string>medical-50990</string>
	<key>STORAGE_BUCKET</key>
	<string>medical-50990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628344415136:ios:aa2a4bef59d10f9c42bac5</string>
</dict>
</plist>